<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hidetaka Miyazaki</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">¿Quién es?</a></li>
            <li><a href="/works">Sus trabajos</a></li>
        </ul>
    </header>
    <div id="display">
        <h1>Imágenes</h1>
        <img src="/darksouls.webp" alt="Dark Souls" />
        <img src="/darksouls2.jpg" alt="Dark Souls II" />
        <img src="/bloodborne.jpeg" alt="Bloodborne" />
        <img src="/darksouls3.jpg" alt="Dark Souls III" />
        <img src="/sekiro.webp" alt="Sekiro" />
        <img src="/eldenring.jpeg" alt="Elden Ring" />
    </div>
</body>
</html>