<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hidetaka Miyazaki</title>
    <link rel="stylesheet" href="./../public/styles.css" />
</head>
<body>
    <div id="display">
        <h1>Sus trabajos</h1>
        <p>Después de graduarse, Miyazaki trabajó para la empresa estadounidense, Oracle Corporation. Posteriormente Miyazaki descubrió que algunas compañías de juegos le ofrecían empleo, una de ellas era From Software, donde Miyazaki comenzó a trabajar en la serie Armored Core. Después de descubrir lo que más tarde sería Demon's Souls, Miyazaki se emocionó con la posibilidad del título y se ofreció a ayudar. A pesar de que el juego vendió poco al principio, el número de ventas comenzó a aumentar después de unos meses y pronto se encontró dispuesto a exportar el título fuera de Japón. Después del lanzamiento del juego el cual sería su sucesor espiritual Dark Souls y Dark Souls II, Miyazaki fue ascendido al cargo de presidente en 2014. Después del lanzamiento del Prepare to die edition de Dark Souls en agosto de 2012, Sony Computer Entertainment se dirijo a From Software para tratar el desarrollo cooperativo de un nuevo título: Bloodborne.</p>
        <p>Miyazaki preguntó sobre la posibilidad de desarrollar un juego para consolas de octava generación, y el concepto de transmisión hermética fue desarrollado a partir de ahí. No había historia o conexiones de ajuste a los títulos anteriores de From Software, a pesar de que Miyazaki admitió que "lleva el ADN de Demon's Souls y su diseño de niveles muy específico". El desarrollo de Dark Souls II fue paralelo a él así como su remasterización Dark Souls 2 Scholar of the First Sin (Miyazaki simplemente lo supervisó), ya que era incapaz de dirigir los dos títulos de forma simultánea. Después de la Salida de Bloodborne en marzo de 2015, Miyazaki regresó a la saga Souls como el director de Dark Souls III, con la ayuda del equipo de Steel Battalion: Heavy Armor y dirigido por Isamu Okano.</p>
        <h3>Influencias:</h3>
        <p>Las influencias de Miyazaki incluyen videojuegos tales como Ico, los primeros juegos de la saga Dragon Quest, y la franquicia King's Field, además de mangas como Berserk, Los Caballeros del Zodiaco y JoJo's Bizarre Adventure.</p>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">¿Quién es?</a></li>
            <li><a href="/gallery">Imágenes</a></li>
        </ul>
    </div>
</body>
</html>